<div class="navbar">

</div>
{{ text }}
<div class="container">

  <div class="row">
    <div class="col-md-9">
      <p>Formularz z opisami obok pól
        Aby opisy pól znajdowały się obok pól a nie nad nimi należy wykonać kilka czynności:
        Znacznikowi nadajemy klasę .form-horizontal
        Pole formularza i jego opis otaczamy divem z klasą .form-group
        Znacznikowi < nadajemy klasę .control-label oraz nadajemy mu wybraną szerokość np .col-md-2
        Kod pola formularza (input) otaczamy divem z szerokością (etykiecie nadaliśmy szerokość 2 kolumn więc
        pozostało
        nam 10) czyli klasą .col-md-10</p>
    </div>
    <div class="col-sm-3">
      <h3>Szybki kontakt</h3>

      <ul>
        <li class="icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
        <li class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></li>
      </ul>

    </div>
  </div>
</div>

<div class="scroll" onclick="goToTop()">
  <button class="btn btn-success"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry</button>
</div>



<footer class="center">Copyrights © Krzysztof Wowczuk | 2019</footer>
